<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>辛占国的博客</title>
    <meta name="keywords" content="辛占国的博客">
    <meta name="description" content="辛占国的博客">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="http://purecss.io/combo/1.18.13?/css/layouts/blog.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/blog-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <style type="text/css">
        @charset "utf-8";
        @import url("/css/blog.css");
    </style>
    <!-- <link rel="stylesheet" href="/css/blog.css"> -->
<!--<![endif]-->
    <script type="text/javascript" src="/js/mustache.js"></script>
</head>
<body>
<div id="layout" class="pure-g"></div>
<script>
function hereDoc(f) {　
    return f.toString().replace(/^[^\/]+\/\*!?\s?/, '').replace(/\*\/[^\/]+$/, '');
}
function ajax(url, fnSucc, fnFaild){
    //1.创建对象
    var oAjax = null;
    if(window.XMLHttpRequest){
        oAjax = new XMLHttpRequest();
    }else{
        oAjax = new ActiveXObject("Microsoft.XMLHTTP");
    }

    //2.连接服务器
    oAjax.open('GET', url, true);   //open(方法, url, 是否异步)

    //3.发送请求
    oAjax.send();

    //4.接收返回
    oAjax.onreadystatechange = function(){  //OnReadyStateChange事件
        //console.log(oAjax)
        if(oAjax.readyState == 4){   // ready
            if(oAjax.status == 200){    //200 success
                var json = eval('('+oAjax.responseText+')');
                //console.log(json);
                var h = fnSucc(json);
            }else{
                if(fnFaild){
                    fnFaild();
                }
            }
        }
    };
}

var data = {
    "title" : "辛占国的博客",
    "keywords" : "辛占国的博客",
    "description" : "辛占国的博客",
};

document.title=data.title;
document.getElementsByTagName('meta')['keywords'].content = data.keywords;
document.getElementsByTagName('meta')['description'].content = data.description;

var head_data = {
    "bolg_name" : "辛占国的博客",
    "tagling" : "辛占国的博客",
    "nav" : [
        {"href":"https://github.com/xinzhanguo","title":"GitHub"},
        {"href":"https://twitter.com/picxin","title":"Twitter"},
        {"href":"https://www.facebook.com/picasso.xin","title":"Facebook"}
    ],
};

var head_output = Mustache.render(hereDoc(function(){
/*
    <div class="header">
        <h1 class="brand-title">{{blog_name}}</h1>
        <h2 class="brand-tagline">{{tagling}}</h2>
        <nav class="nav">
            <ul class="nav-list">
            {{#nav}}<li class="nav-item"><a class="pure-button" href="{{href}}">{{title}}</a></li>{{/nav}}
            </ul>
        </nav>
    </div>
*/
}),head_data);

var foot_data = {
    "footnav" : [
        {"href":"http://purecss.io","title":"Pure title"},
        {"href":"http://yuilibrary.com","title":"YUI Library"}
    ]
};

var foot_output = Mustache.render(hereDoc(function(){
/*
    <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
            <ul>
            {{#footnav}}<li class="pure-menu-item"><a href="{{href}}" class="pure-menu-link" target="_blank">{{title}}</a></li>{{/footnav}}
            </ul>
        </div>
    </div>
*/
}),foot_data);

var layout_output =
'<div class="sidebar pure-u-1 pure-u-md-1-4">'+head_output+'</div>\
 <div class="content pure-u-1 pure-u-md-7-12"><div id="main"></div>'+foot_output+'</div>\
 <div class="pure-u-1 pure-u-md-1-12"></div>';

var layoutcontainer = function(html) {
    var layout = document.getElementById('layout');
    layout.innerHTML = html;
}

layoutcontainer(layout_output);


function getDateDiff(dateTimeStamp){
    var len = dateTimeStamp.length;
    if (len<11) {
        var dateTimeStamp = dateTimeStamp*1000;
    }
    //JavaScript函数：
    var minute = 1000 * 60;
    var hour = minute * 60;
    var day = hour * 24;
    var halfamonth = day * 15;
    var month = day * 30;
    var year = day*365;

    var now = new Date().getTime();

    var diffValue = now - dateTimeStamp;

    if(diffValue < 0){
        return "刚刚"
    }
    var yearC = diffValue/year;
    var monthC = diffValue/month;
    var weekC = diffValue/(7*day);
    var dayC = diffValue/day;
    var hourC = diffValue/hour;
    var minC = diffValue/minute;
    if(monthC>=1){
        result="" + parseInt(monthC) + "月前";
    }
    else if(weekC>=1){
        result="" + parseInt(weekC) + "周前";
    }
    else if(dayC>=1){
        result=""+ parseInt(dayC) +"天前";
    }
    else if(hourC>=1){
        result=""+ parseInt(hourC) +"小时前";
    }
    else if(minC>=1){
        result=""+ parseInt(minC) +"分钟前";
    }else {
        result="刚刚";
    }
    return result;
}

var ins = function(arts_data, order) {
    arts_data.blod = function() {
         return function(text, render) {
             var s = getDateDiff(render(text))
             return "<time>" + s + "</time>";
         };
    }
    var list_output = Mustache.render(hereDoc(function(){/*
        {{#articles}}
        <div class="posts" id="{{id}}">
            <h1 class="content-subhead posttime" data-time="{{time}}">{{#blod}}{{time}}{{/blod}}</h1>
            <section class="post">
                <header class="post-header">
                    <img class="post-avatar" alt="{{Author.name}}" height="48" width="48" src="{{Author.img}}">
                    <h2 class="post-title">{{title}}</h2>
                    <p class="post-meta">
                        By <a href="{{Author.url}}" class="post-author">{{Author.name}}</a> under
                        {{#tags}}<a class="post-category" href="#{{.}}">{{.}}</a>{{/tags}}
                    </p>
                </header>
                <div class="post-description">
                    <p>{{description}}</p>
                </div>
            </section>
        </div>
        {{/articles}}
    */}),arts_data);
    if(order=='up') {
        document.getElementById('main').innerHTML = list_output+document.getElementById('main').innerHTML;
    } else {
        document.getElementById('main').innerHTML = document.getElementById('main').innerHTML+list_output;
    }

}

var page_up_keycode=87;
var page_down_keycode=83;

ajax('http://localhost:8080/get?id=0&order=up',function(data) {ins(data,'up');},alert);

document.onkeydown = function(event) {
    var keycode = event.keyCode;
    var id = 0;
    var order = 'down';
    //console.log(keycode)
    if( (0+keycode) === (0+page_down_keycode) ) {
        //console.log('down')
        var order = 'down'
        var min_id = get_min_id()
        id = min_id
    } else if( (0+keycode) === (0+page_up_keycode) ) {
        //console.log('up')
        var order = 'up'
        var max_id = get_max_id()
        id = max_id
    }
    ajax('http://localhost:8080/get?id=' + id + '&order='+order,function(data) {ins(data,order);},alert);
}
var get_min_id = function() {
    var min_id = 0;
    var all = document.getElementsByClassName('posts');
    if (all.length) {
        var last = all.length;
        min_id = all[(last-1)].id;
    }
    return min_id
}
var get_max_id = function() {
    var max_id=0;
    var all = document.getElementsByClassName('posts');
    if (all.length) {
        max_id = all[0].id;
    }
    return max_id
}
var time = 3000;
var timer = setInterval(function(){
    var times = document.getElementsByClassName('posttime');
    if (times.length) {
        for(i in times) {
            if (!isNaN(i)) {
                var t = times[i].getAttribute('data-time');
                if (t) {
                    times[i].innerText=getDateDiff(t)
                }
            }
        }
    }
}, time);

</script>
</body>
</html>
