<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>辛占国的博客</title>
    <meta name="keywords" content="辛占国的博客">
    <meta name="description" content="辛占国的博客">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="http://purecss.io/combo/1.18.13?/css/layouts/blog.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/blog-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <style type="text/css">
        @charset "utf-8";
        @import url("/css/blog.css");
    </style>
    <!-- <link rel="stylesheet" href="/css/blog.css"> -->
<!--<![endif]-->
    <script type="text/javascript" src="/js/mustache.js"></script>
</head>
<body>
<div id="layout" class="pure-g"></div>
<script>
function hereDoc(f) {　
    return f.toString().replace(/^[^\/]+\/\*!?\s?/, '').replace(/\*\/[^\/]+$/, '');
}
function ajax(url, fnSucc, fnFaild){
    //1.创建对象
    var oAjax = null;
    if(window.XMLHttpRequest){
        oAjax = new XMLHttpRequest();
    }else{
        oAjax = new ActiveXObject("Microsoft.XMLHTTP");
    }
      
    //2.连接服务器  
    oAjax.open('GET', url, true);   //open(方法, url, 是否异步)
      
    //3.发送请求  
    oAjax.send();

    //4.接收返回
    oAjax.onreadystatechange = function(){  //OnReadyStateChange事件
        console.log(oAjax)
        if(oAjax.readyState == 4){  //4为完成
            if(oAjax.status == 200){    //200为成功
                var json = eval('('+oAjax.responseText+')');
                console.log(json);
                var h = fnSucc(json);
                console.log('hhhhh');

                console.log('hhhhh');

            }else{
                if(fnFaild){
                    fnFaild();
                }
            }
        }
    };
}

var data = {
    "title" : "辛占国的博客",
    "keywords" : "辛占国的博客",
    "description" : "辛占国的博客",
};

document.title=data.title;
document.getElementsByTagName('meta')['keywords'].content = data.keywords;
document.getElementsByTagName('meta')['description'].content = data.description;

var head_data = {
    "bolg_name" : "A Sample Blog",
    "tagling" : "Creating a blog layout using Pure",
    "nav" : [
        {"href":"http://purecss.io","title":"Pure title"},
        {"href":"http://yuilibrary.com","title":"YUI Library"}
    ],
};

var head_output = Mustache.render(hereDoc(function(){
/*
    <div class="header">
        <h1 class="brand-title">{{blog_name}}</h1>
        <h2 class="brand-tagline">{{tagling}}</h2>
        <nav class="nav">
            <ul class="nav-list">
            {{#nav}}<li class="nav-item"><a class="pure-button" href="{{href}}">{{title}}</a></li>{{/nav}}
            </ul>
        </nav>
    </div>
*/
}),head_data);

var foot_data = {
    "footnav" : [
        {"href":"http://purecss.io","title":"Pure title"},
        {"href":"http://yuilibrary.com","title":"YUI Library"}
    ]
};

var foot_output = Mustache.render(hereDoc(function(){
/*
    <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
            <ul>
            {{#footnav}}<li class="pure-menu-item"><a href="{{href}}" class="pure-menu-link" target="_blank">{{title}}</a></li>{{/footnav}}
            </ul>
        </div>
    </div>
*/
}),foot_data);

var layout_output = 
'<div class="sidebar pure-u-1 pure-u-md-1-4">'+head_output+'</div>\
 <div class="content pure-u-1 pure-u-md-7-12" id="main">'+foot_output+'</div>\
 <div class="pure-u-1 pure-u-md-1-12"></div>';

var layoutcontainer = function(html) {
    var layout = document.getElementById('layout');
    layout.innerHTML = html;
}

layoutcontainer(layout_output);

var ins = function(arts_data) {
    var list_output = Mustache.render(hereDoc(function(){/*
        {{#articles}}
        <div class="posts" id="{{id}}">
            <h1 class="content-subhead">Pinned Post</h1>
            <section class="post">
                <header class="post-header">
                    <img class="post-avatar" alt="{{Author.name}}" height="48" width="48" src="{{Author.img}}">
                    <h2 class="post-title">{{title}}</h2>
                    <p class="post-meta">
                        By <a href="{{Author.url}}" class="post-author">{{Author.name}}</a> under 
                        {{#tags}}<a class="post-category" href="#{{.}}">{{.}}</a>{{/tags}}
                    </p>
                </header>
                <div class="post-description">
                    <p>{{description}}</p>
                </div>
            </section>
        </div>
        {{/articles}}
    */}),arts_data);
    document.getElementById('main').innerHTML = list_output+document.getElementById('main').innerHTML;
    document.onmousedown = function(event) {
        console.log(event);
    }
}
document.onkeydown = function(event) {
    console.log(event);
    console.log(event.keyCode);
    ajax('http://localhost:8080/get?id=3',ins,alert);
}
</script>
</body>
</html>